i.fa{
    padding: 20px !important;
    color: #1a237e;
}
b{
    font-size: 30px;
    font-weight: 700;
}
ul li{
    list-style: none;
}
ol li{
    list-style: disc;
}
p.flow-text{
    font-size: 16px;
}
a.nav-link{
    color:#1a237e;
}
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
}
header{
    background: white;
}
nav{
    text-transform: uppercase;
}
.sticky-top{
    position: sticky;
}
.showcase{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../imgs/sn-hepatitis.jpg') no-repeat;
    background-attachment: fixed;
    height: 60vh;
}
.showcase .left{
    margin: 5% 0px 5% 0px;
}
.showcase h4::before{
    content: "";
    height: 4px;
    width: 15vw;
    background: #fff;
    display: inline-block;
    margin:0 10px 5px 10px;
}
.showcase p.flow-text{
    width: 50%;
    overflow-y: hidden;
    font-size: 16px;
}
.content{
    background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),url('../imgs/Coronavirus-Detection.jpg');
    margin: auto;
    height: 50vh;
    background-attachment: fixed;
}
.content .pathed ul{
    display: flex;
    /* flex-direction: right;    */
    /* align-items: center; */
}
.contact ul{
    display: flex;
    align-items: center;
}
.section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0 !important;
    
}
section.section div{
    margin: 0;
    padding: 12%;
}

section.section div.left{
    color: #fff;
}
section.content{
    padding: 0 !important;

}
section.content span a{
    margin: 10% 0% 10% 0%;
    border-radius: 30px;
    background-color: #fff;
    mix-blend-mode: screen;
}
section.content span i{
    /* color: rgba(255, 255, 255, 0.87); */
    color: black;
}
.flex{
    display: flex;
    align-items: center;
}
footer{
    background: #1a1a1a;
    color: grey;
}
footer div.copyright{
    padding: 5px;
    color: #fff !important;
    border-top: 1px solid black;
}


@media (max-width: 576px) { 
    i.fa{
        padding: 10px !important;
    }
    b{
        font-size: 24px;
        font-weight: 500;
    }
    p.flow-text{
        font-size: 8px;
    }
    .showcase{
        height: 60vh;
    }
    .showcase p.flow-text{
    width: 90%;
    text-align: center;
    overflow-y: hidden;
    font-size: 16px;
}
    .showcase .left{
        margin: 0;
        text-align: center;

    }
    section.section{
        display: block;
        width: 100%;
        
    }

 }


 /* faqs */
 
@media (max-width: 768px) { 
    i.fa{
        padding: 10px !important;
    }
    b{
        font-size: 24px;
        font-weight: 500;
    }
    p.flow-text{
        font-size: 8px;
    }
    .showcase{
        height: 60vh;
    }
    .showcase p.flow-text{
    width: 90%;
    text-align: center;
    overflow-y: hidden;
    font-size: 16px;
}
    .showcase .left{
        margin: 0;
        text-align: center;

    }
    section.section{
        display: block;
        
    }
 }


@media (max-width: 992px) { 
    i.fa{
        padding: 10px !important;
    }
    b{
        font-size: 24px;
        font-weight: 500;
    }
    p.flow-text{
        font-size: 8px;
    }
    .showcase{
        height: 68vh;
    }
    .showcase p.flow-text{
    width: 90%;
    text-align: center;
    overflow-y: hidden;
    font-size: 16px;
}
    .showcase .left{
        margin: 0;
        text-align: center;

    }

 }

@media (min-width: 1200px) { 
    i.fa{
        padding: 10px !important;
    }
    b{
        font-size: 24px;
        font-weight: 500;
    }
    p.flow-text{
        font-size: 8px;
    }
    .showcase{
        height: 68vh;
    }
    .showcase p.flow-text{
    width: 90%;
    text-align: center;
    overflow-y: hidden;
    font-size: 16px;
}
    .showcase .left{
        margin: 0;
        text-align: center;

    }
}